.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.task {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.inputdiv {
  display: flex;
  justify-content: space-between;

}

.inputdiv input {
  width: 550px;
  height: 40px;
  padding: 10px;
}

.inputdiv button {
  width: 150px;
  height: 56px;
  margin: 2px;


}

.listdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listdiv input {
  width: 20px;
  height: 20px;
}